body {
    font-family: 'Quicksand', sans-serif;
    background-color: #6B97AE;
}

.jumbotron {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #31356E;
    background-color: #E56C00;
}

#holmes-name {
    font-family: 'Quicksand', sans-serif, bold;
    text-align: center;
    color: white;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}