body {
    font-family: 'Quicksand', sans-serif;
    background-color: #6B97AE;
}

.jumbotron {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #31356E;
    background-color: #E56C00;
}

.row {
    color: purple;
    background-color: black;
}

.row02 {
    color: pink;
    background-color: white;
}

.col-md-1 {
    color: yellow;
    background-color: red;
}

#holmes-name {
    font-family: 'Quicksand', sans-serif, bold;
    text-align: center;
    color: white;
}

.card {
    font-family: 'Times New Roman', sans-serif;
    text-align: left;
    color: black;
    background-color: green;
}

.card-header {
    background-color: red;
}

.mb-0 {
    font-family: Verdana;
    color: yellow;
    font-weight: normal;
    text-align: left;
}

