body {
    font-family: Helvetica Neue;
    background-color: #294F6D;
}

.jumbotron {
    font-family: Helvetica Neue;
    font-weight: bolder;
    font-size: 56px;
    text-align: center;
    color: #718EA4;
    background-color: #042037;
    width: 100%;
}

#subhead {
    font-family: Helvetica Neue;
    font-weight: lighter;
    font-size: 28px;
    text-align: center;
    color: #718EA4;
}

#sig-name {
    font-family: Helvetica Neue;
    font-weight: bold;
    color: white;
}

#sig-loc {
    font-family: Helvetica Neue;
    font-style: italic;
    color: white;
}

#sig-date {
    font-family: Helvetica Neue;
    color: white;
}

#sig-title {
    font-family: Helvetica Neue;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.row {
    color: #718EA4;
    background-color: #294F6D;
}

.col-md-1 {
    background-color: #294F6D;
}

#caption {
    font-family: Helvetica Neue;
    color: #718EA4;
    text-align: center;
}

#content-header {
    font-family: Helvetica Neue;
    font-size: 24px;
}

.card {
    font-family: Helvetica Neue;
    text-align: left;
    color: #042037;
    background-color: #496D89;
}

.card-header {
    background-color: #042037;
}

.mb-0 {
    font-family: Helvetica Neue;
    color: #718EA4;
    font-weight: normal;
    text-align: left;
}

/*Holmes Map Style*/

#holmes-map {
    width: 500px;
    height: 500px;
}

#map-header {
    font-family: Helvetica Neue;
    font-size: 24px;
}

#credit {
    font-family: Helvetica Neue;
    font-size: 12px;
    color: #718EA4;
    text-align: center;
}

#href-link {
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 12px;
    color: #042037;
}


#through-the-years {
    font-family: Helvetica Neue;
    color: #718EA4;
    background-color: #042037;
    text-align: center;
}

#junior-detective {
    font-family: Helvetica Neue;
    color: #718EA4;
    background-color: #042037;
    text-align: center;
}

#on-the-trail {
    font-family: Helvetica Neue;
    color: #718EA4;
    background-color: #042037;
    text-align: center;
}

.carousel-inner img {
    width: 500px;
    height: 250px;
}

.btn-btn-primary-mt-2 {
    text-align: center;
    align-items: center;
    align-content: center;

}

#pen-pic {
    list-style-image: url('penSmall.png');
}

#mag-pic {
    list-style-image: url('magnifyingGlassSmall.png');
}

#skull-pic {
    list-style-image: url('skullSmall.png');
}

#bee-pic {
    list-style-image: url('beeSmall.png');

}